*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    position: relative;
}

header #logo{
    position: absolute;
    top:10px;
    left: 20px;
}

header #top_menu{
    position: absolute;
    top:10px;
    left:735px;
}

ul{
    list-style: none;

}

header #main_menu{
    background-image: url("./img[12]/main_menu_bg.png");
    width: 757px;
    height: 38px;
    position: absolute;
    top:40px;
    left:210px
}

header #main_menu li{
    display: inline-block;
    margin: 12px 30px 0 50px;
    font-size: 13px;
}

header #main_menu a:link{
    text-decoration: none;
    color: white;
}

header #main_menu a:hover{
    text-decoration: none;
    color: white;
}

header #main_menu a:active{
    text-decoration: none;
    color:white;
}

